@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* can create reusable classes via the @apply directive - just place 'input' in className */
@layer components {
  .input {
    @apply p-1 rounded-full bg-[#f1f1f1] text-[#242424] transition-all
    duration-300 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-[#494f62];
  }
}

:root {
  background: linear-gradient(to bottom right, #73798d, #373c4b);
  padding-bottom: 4rem;
  color: #f1f1f1;
}
